bin
dl

build_mips
build_mips_nofpu
build_mipsel

staging_dir_mips
staging_dir_mips_nofpu
staging_dir_mipsel

toolchain_build_mips
toolchain_build_mips_nofpu
toolchain_build_mipsel
target/linux/image/brcm6345/firmware.bin
target/linux/image/brcm6345/kernel

.config
.config.cmd
.config.old
.config.test
.tmpconfig.h

package/config/conf
package/config/*.o
package/config/lex.zconf.c
package/config/lkc_defs.h
package/config/zconf.tab.c
package/config/zconf.tab.h

target/linux/image/brcm6345/compressed
target/linux/image/brcm6345/uncompressed
